# requirements
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
--find-links https://data.pyg.org/whl/torch-1.10.1+cu113.html

torch==1.10.1+cu113
tqdm
transformers
datasets==2.0.0
sacrebleu
nltk
networkx
spacy
torch-scatter
scipy
fairseq
